<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Video Site</title>
</head>

<body>
    <div ng-app="videoSite" ng-controller="videoSiteController">
        <div class="container">
        <div ng-repeat="data in info" style="display: inline-block; margin: 20px 10px;">
            <p>title: {{data.title}}</p>
                </br>
                <img ng-src={{data.pictureUrl}} width="200" >
                <p>length: {{data.length}}</p>
                <p>category: {{data.category}}</p>
                <p>subscribers: {{data.subscribers}}</p>
                <p>date: {{data.date}}</p>
                <p>haveSubtitles: {{data.haveSubtitles}}</p>
                <p>comments:</p>
                <span ng-repeat="comment in data.comments">
                  <p>User Name: {{comment.username}}</p>
                  <p>Content: {{comment.content}}</p>
                  <p>Date: {{comment.date}}</p>
                  <p>Likes: {{comment.likes}}</p>
                  <p>Website:
                      <a href="{{comment.websiteUrl}}">{{comment.username}}</a></p>
             </span>
        </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="controllers.js"></script>
</body>

</html>