<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Video Site</title>
</head>

<body>
    <div ng-app="videoSite" ng-controller="videoSiteController">
        <div class="container">
            <div>
                Order by:
        <select ng-model="orderBy">
            <option selected value=>none</option>
            <option value="title">title</option>
            <option value="length">length</option>
            <option value="date">date</option>
            <option value="likes">likes</option>
        </select>
        </div>
        <div ng-repeat="data in info | orderBy: orderBy" style="display: inline-block; margin: 20px 10px;">
            <p>Title: {{data.title}}</p>
                </br>
                <img ng-src={{data.pictureUrl}} width="200" >
                <p>length: {{data.length}}</p>
                <p>category: {{data.category}}</p>
                <p>subscribers: {{data.subscribers}}</p>
                <p>{{data.date | date: 'yyyy.MM.dd'}}</p>
                <td>Subtitles: {{ data.haveSubtitles ? 'Yes' : 'No' }} </td>
                <p>* * *</p>
                <p>comments:</p>
                <span ng-repeat="comment in data.comments">
                  <p>User Name: {{comment.username}}</p>
                  <p>Content: {{comment.content}}</p>
                  <p>{{comment.date}}</p>
                  <p>Likes: {{comment.likes}}</p>
                  <p>Website:
                      <a href="{{comment.websiteUrl}}">{{comment.username}}</a></p>
                   <p>_____</p>
             </span>
        </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="controllers.js"></script>
</body>

</html>